<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo municipio:</strong>
  <%= @municipio.codigo_municipio %>
</p>

<p>
  <strong>Nombre municipio:</strong>
  <%= @municipio.nombre_municipio %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @municipio.departamento %>
</p>

<%= link_to 'Edit', edit_municipio_path(@municipio) %> |
<%= link_to 'Back', municipios_path %>
