

<p>
  <strong>Codigo municipio:</strong>
  <%= @municipio.codigo_municipio %>
</p>

<p>
  <strong>Nombre municipio:</strong>
  <%= @municipio.nombre_municipio %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @municipio.departamento %>
</p>

<%= link_to 'Edit', edit_departamento_municipio_path(@departamento, @municipio) %> |
<%= link_to 'Back', departamento_municipios_path(@departamento) %>
