<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo departamento:</strong>
  <%= @departmento.codigo_departamento %>
</p>

<p>
  <strong>Nombre departamento:</strong>
  <%= @departmento.nombre_departamento %>
</p>

<%= link_to 'Edit', edit_departmento_path(@departmento) %> |
<%= link_to 'Back', departmentos_path %>
